html {
  height: 100%;
  width: 100%;
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ffd9a3;

}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0%;

}

h4 {
  font-size: 25px;
  text-align: center;
}

.container {
  display: flex;

}

.navi {
  border-style: solid;
  border-radius: 10px;
  border-color: #703e05;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-evenly;
}

.btn {
  cursor: pointer;
  background-color: #544326;
  border-style: solid;
  border-color: #544326;
  padding: 10px;
  font-size: 20px;
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 150px;
  margin-bottom: 10px;
  padding-left: 10px;
  color: #e7dcd0;
  margin-right: 30px;
}

.btn:active {
  background-color: #e7dcd0;
  color: #544326;

}

img {
  width: 40vw;
  height: 70vh;
  object-fit: cover;
  padding-inline: 5px;
  margin-bottom: 2%;
}

.navbar {
  display: flex;
  flex-direction: column;
  font-size: 100%;
  list-style: none;
}

.navitem,
h1,
h4 {
  text-decoration: none;
  color: #443903;
}
a{
   text-decoration: none;
}

.navitem {
  font-size: 40px;
  padding-inline: 5px;
}

@media (max-width: 1024px) {
  img {
    width: 45vw; /* Adjust width for tablets */
    height: auto; /* Maintain aspect ratio */
  }
}

/* Media query for mobile devices (up to 767px) */
@media (max-width: 767px) {
  img {
    width: 90vw; /* Adjust width for mobile devices */
    height: auto; /* Maintain aspect ratio */
  }
  .btn {
    cursor: pointer;
    background-color: #544326;
    border-style: solid;
    border-color: #544326;
    padding: 10px;
    font-size: 30px;
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 150px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #e7dcd0;
    margin-right: 30px;
  }
}